.box-wrapper {
  display: flex;
  position: relative;
  z-index: 100;
}

.box1, .box2, .box3, .box4 {
  width: 25%;
  height: 100vh;
}

.box1 {
  background-color: aqua;
}

.box2 {
  background-color: chartreuse;
}

.box3 {
  background-color: yellow;
}

.box4 {
  background-color: blue;
}
.pink {
  background-color: pink !important;
}

.pale {
  opacity: 0.3;
}

.target-info {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 40px;
  font-weight: bold;
}

.count-info {
  position: absolute;
  top: 0;
  left: 40%;
  font-size: 40px;
  font-weight: bold;
}